/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 5% auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #007BFF;
    margin-bottom: 20px;
}

/* Search box styling */
.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#search-input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

#search-button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    font-size: 16px;
}

#search-button i {
    margin-right: 8px;
}

#search-button:hover {
    background-color: #0056b3;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: #007BFF;
    color: rgb(12, 12, 12);
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Pagination controls styling */
.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#prev-page, #next-page {
    padding: 8px 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 10px;
}

#prev-page i, #next-page i {
    margin: 0 5px;
}

#page-indicator {
    font-size: 16px;
    color: #333;
}

#prev-page:hover, #next-page:hover {
    background-color: #0056b3;
}

/* Rows per page styling */
.rows-per-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#rows-per-page {
    width: 50px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

#ok-button {
    padding: 5px 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#ok-button:hover {
    background-color: #218838;
}


/* Add styles for Edit button in the Actions column */
.actions-button {
    padding: 5px 10px;
    background-color: #ffc107;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.actions-button:hover {
    background-color: #e0a800;
}
